doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet")
        title Elon Musk Viaje a Marte
    body 
        div
            div.recorte #[img(src="img/Letra.png")]
            p #[a(href="https://es.wikipedia.org/wiki/Elon_Musk", target="_blank", rel="noopener noreferrer")   lack Widow] (titulada Viuda Negra en España) es una próxima película de superhéroes estadounidense basada en el personaje de Marvel Comics del mismo nombre. Producida por Marvel Studios y distribuida por Walt Disney Studios Motion Pictures, está destinada a ser la vigésimo cuarta película en el Universo cinematográfico de Marvel (MCU, por sus siglas en inglés). #[iframe(width="450" height="250" src="https://www.youtube.com/embed/gR3JFH_3LhY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)] La película fue dirigida por Cate Shortland y escrita por Eric Pearson a partir de una historia de Jac Schaeffer y Ned Benson, y está protagonizada por Scarlett Johansson como Natasha Romanoff/Black Widow junto a Florence Pugh, David Harbour, O. T. Fagbenle, William Hurt, Ray Winstone y Rachel Weisz. Ambientada después de Capitán América: Civil War (2016), la película ve a Romanoff huyendo y obligada a enfrentarse a su pasado.
            
            audio(id="audioFondo" src="audios/Fondo.mp3" controls autoplay)
            script.
                document.getElementById("audioFondo").volume = .3;